body {
    background-color: rgb(119, 136, 153);
}

#sec2 {
    border-top: 1px;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-color: black;
    border-style: solid;
}

h1, h3 {
    color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#lexus_img {
    width: 100%;
    max-width: 650px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#supra_img {
    width: 100%;
    max-width: 650px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#SX_img {
    width: 100%;
    max-width: 650px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#skyline_img {
    width: 100%;
    max-width: 650px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#desc {
    text-align: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Responsive Styles */

@media (max-width: 768px) {
    #lexus_img {
        max-width: 100%;
        height: auto;
    }
    
    #supra_img {
        max-width: 100%;
        height: auto;
    }
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive video */
    margin-bottom: 1rem;
  }
  
  #myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
  }
  
  @media screen and (max-width: 768px) {
    /* Adjust styles for mobile devices */
    #sec2 {
      padding: 0 1rem;
    }
    
    .video-wrapper {
      padding-bottom: 75%; /* Adjust aspect ratio for mobile */
    }
  }