body {
    background-color: rgb(119, 136, 153);
}

h1 {
    color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#lexus_img {
    width: 650px;
    height: 400px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#desc{
    text-align: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}